<?xml version="1.0"?>

<launch>
    <!-- MAVROS posix SITL environment launch script -->
    <!-- launches Gazebo environment and 2x: MAVROS, PX4 SITL, and spawns vehicle -->
    <!-- vehicle model and world -->

    <!-- number of clovers / Number of iterations -->
    <arg name="num" default="2"/>
    <arg name="led" default="true"/>
    <arg name="camera" default="false"/>
    <arg name="rangefinder" default="true"/>
    <arg name="flashlight" default="false"/>

    <!-- px4 configs -->
    <arg name="est" default="ekf2"/>
    <arg name="vehicle" default="clover"/>
    
    <!-- gazebo configs -->
    <arg name="world" default="$(find clover_simulation)/resources/worlds/clover_aruco.world"/>
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="true"/>
    <arg name="paused" default="false"/>
    
    <!-- log formatting -->
    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}]: ${logger}: ${message}"/>

     <!-- Update static directory -->
    <node pkg="roswww_static" name="roswww_static" type="main.py" clear_params="true">
        <!-- <param name="default_package" value="clover"/> -->
    </node>

    <!-- rosbridge -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <!-- <args name="output" value="log"/> -->
    </include>

    <!-- swarm clover blocks-->
    <node pkg="swarm_clover_blocks" name="clover_blocks" type="clover_blocks"/>

    <!-- swarm checker node -->
    <node pkg="swarm_checker" name="swarm_checker" type="swarm_checker_node.py" output="screen"/>

    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>

    <!-- Start calling with recursion -->
    <include file="$(find swarm_in_blocks)/launch/simulation/extra/clover_simulated_recursive.launch">
        <arg name="num" value="$(arg num)"/>
        <arg name="ID" value="0"/>
        <arg name="led" value="$(arg led)"/>
        <arg name="camera" value="$(arg camera)"/>
        <arg name="rangefinder" value="$(arg rangefinder)"/>
        <arg name="flashlight" value="$(arg flashlight)"/>
    </include>
    
</launch>
