<?xml version="1.0"?>

<launch>
    <!-- vehicle pose -->
    <arg name="ID" default="0"/>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.3"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>

    <arg name="fcu_conn" default="usb"/>
    <arg name="fcu_ip" default="127.0.0.1"/>
    <arg name="fcu_sys_id" default="1"/>
    <arg name="gcs_bridge" default="tcp"/>
    <arg name="web_video_server" default="true"/>
    <arg name="rosbridge" default="true"/>
    <arg name="main_camera" default="true"/>
    <arg name="optical_flow" default="true"/>
    <arg name="rangefinder_vl53l1x" default="true"/>
    <arg name="led" default="true"/>
    <arg name="rc" default="false"/>

    <!-- log formatting -->
    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}]: ${logger}: ${message}"/>

    <!-- rosbridge -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" if="$(eval rosbridge or rc)"/>

    <!-- web video server -->
    <node name="web_video_server" pkg="web_video_server" type="web_video_server" if="$(arg web_video_server)" required="false" respawn="true" respawn_delay="5">
        <param name="default_stream_type" value="ros_compressed"/>
        <param name="publish_rate" value="1.0"/>
    </node>

    <!-- tf2 republisher for web visualization -->
    <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" output="screen" if="$(arg rosbridge)"/>

    <!-- Group all nodes -->
    <group ns="clover$(arg ID)">

        <!-- mavros -->
        <include file="$(find clover)/launch/mavros.launch">
            <arg name="fcu_conn" value="$(arg fcu_conn)"/>
            <arg name="fcu_ip" value="$(arg fcu_ip)"/>
            <arg name="fcu_sys_id" value="$(arg fcu_sys_id)"/>
            <arg name="gcs_bridge" value="$(arg gcs_bridge)"/>
        </include>

        <!-- simplified offboard control -->
        <node name="simple_offboard" pkg="clover" type="simple_offboard" output="screen" clear_params="true">
            <param name="reference_frames/main_camera_optical" value="map"/>
        </node>

        <!-- main camera -->
        <include file="$(find clover)/launch/main_camera.launch" if="$(arg main_camera)"/>

        <!-- vl53l1x ToF rangefinder -->
        <node name="rangefinder" pkg="vl53l1x" type="vl53l1x_node" output="screen" if="$(eval rangefinder_vl53l1x and not simulator)">
            <param name="frame_id" value="rangefinder"/>
            <param name="min_signal" value="0.4"/>
            <param name="pass_statuses" type="yaml" value="[0, 6, 7, 11]"/>
        </node>

        <!-- led strip -->
        <include file="$(find clover)/launch/led.launch" if="$(arg led)">
            <arg name="simulator" value="$(arg simulator)"/>
        </include>

        <!-- rc backend -->
        <node name="rc" pkg="clover" type="rc" output="screen" if="$(arg rc)" clear_params="true">
            <!-- Send fake GCS heartbeats. Set to "true" for upstream PX4 -->
            <param name="use_fake_gcs" value="false"/>
        </node>
    </group>
</launch>
