<?xml version="1.0"?>

<launch>
    <arg name="new_blocks_page" default="false"/>
    <arg name="quiet" default="false"/>

    <!-- blocks Backend -->
    <include file="$(find swarm_in_blocks)/launch/singles/blocks.launch">
        <arg name="newpage" value="$(arg new_blocks_page)"/>
    </include>
    <!-- swarm checker node -->
    <node pkg="swarm_checker" name="swarm_checker" type="swarm_checker_node.py" output="screen"/>
</launch>