<?xml version="1.0"?>

<launch>
    <!-- Update static directory -->
    <node pkg="roswww_static" name="roswww_static" type="main.py" clear_params="true">
        <!-- <param name="default_package" value="clover"/> -->
    </node>

    <!-- rosbridge -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

    <!-- swarm clover blocks-->
    <node pkg="swarm_clover_blocks" name="clover_blocks" type="clover_blocks"/>
</launch>