<?xml version="1.0"?>

<launch>
    <!-- launches Gazebo environment and 2x: MAVROS, PX4 SITL, and spawns vehicle -->
    <!-- vehicle model and world -->
    <arg name="est" default="lpe"/>
    <arg name="world" default="$(find clover_simulation)/resources/worlds/clover_aruco.world"/>
    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>

     <!-- Update static directory -->
    <node pkg="roswww_static" name="roswww_static" type="main.py" clear_params="true">
        <!-- <param name="default_package" value="clover"/> -->
    </node>

    <!-- rosbridge -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

    <!-- swarm clover blocks-->
    <node pkg="swarm_clover_blocks" name="clover_blocks" type="clover_blocks"/>

    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>
    
    <!-- UAV0 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="0"/>
        <arg name="x" value="0"/>
        <arg name="y" value="0"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>
    
    <!-- UAV1 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="1"/>
        <arg name="x" value="0"/>
        <arg name="y" value="1"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>

    <!-- UAV2 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="2"/>
        <arg name="x" value="0"/>
        <arg name="y" value="2"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>

    <!-- UAV3 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="3"/>
        <arg name="x" value="0"/>
        <arg name="y" value="3"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>

    <!-- UAV4 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="4"/>
        <arg name="x" value="0"/>
        <arg name="y" value="4"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>

    <!-- UAV5 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="5"/>
        <arg name="x" value="0"/>
        <arg name="y" value="5"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>

    <!-- UAV6 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="6"/>
        <arg name="x" value="0"/>
        <arg name="y" value="6"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>

    <!-- UAV7 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="7"/>
        <arg name="x" value="0"/>
        <arg name="y" value="7"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>

    <!-- UAV8 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="8"/>
        <arg name="x" value="0"/>
        <arg name="y" value="8"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>

    <!-- UAV9 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="9"/>
        <arg name="x" value="0"/>
        <arg name="y" value="9"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>

    <!-- UAV10 --> <!-- OHHH NOOOOO YOU NO RSRSRS-->
    <!-- <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="10"/>
        <arg name="x" value="0"/>
        <arg name="y" value="10"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include> -->

    <!-- UAV11 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="11"/>
        <arg name="x" value="0"/>
        <arg name="y" value="11"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>

    <!-- UAV12 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="12"/>
        <arg name="x" value="0"/>
        <arg name="y" value="12"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>

    <!-- UAV13 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="13"/>
        <arg name="x" value="0"/>
        <arg name="y" value="13"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>

    <!-- UAV14 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="14"/>
        <arg name="x" value="0"/>
        <arg name="y" value="14"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>

    <!-- UAV15 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="15"/>
        <arg name="x" value="0"/>
        <arg name="y" value="15"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>

    <!-- UAV16 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="16"/>
        <arg name="x" value="0"/>
        <arg name="y" value="16"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>

    <!-- UAV17 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="17"/>
        <arg name="x" value="0"/>
        <arg name="y" value="17"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>

    <!-- UAV18 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="18"/>
        <arg name="x" value="0"/>
        <arg name="y" value="18"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>

    <!-- UAV19 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="19"/>
        <arg name="x" value="0"/>
        <arg name="y" value="19"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>

    <!-- UAV20 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="20"/>
        <arg name="x" value="0"/>
        <arg name="y" value="20"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>

    <!-- UAV21 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="21"/>
        <arg name="x" value="0"/>
        <arg name="y" value="21"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>

    <!-- UAV22 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="22"/>
        <arg name="x" value="0"/>
        <arg name="y" value="22"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>

</launch>
<!-- to add more UAVs (up to 10):
Increase the id
Change the name space
Set the FCU to default="udp://:14540+id@localhost:14550+id"
Set the malink_udp_port to 14560+id) -->
