<?xml version="1.0"?>

<launch>
    <!-- launches Gazebo environment and 2x: MAVROS, PX4 SITL, and spawns vehicle -->
    <!-- vehicle model and world -->
    <arg name="est" default="lpe"/>
    <arg name="world" default="$(find clover_simulation)/resources/worlds/clover_aruco.world"/>
    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>

     <!-- Update static directory -->
    <node pkg="roswww_static" name="roswww_static" type="main.py" clear_params="true">
        <!-- <param name="default_package" value="clover"/> -->
    </node>

    <!-- rosbridge -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

    <!-- swarm clover blocks-->
    <node pkg="swarm_clover_blocks" name="swarm_clover_blocks" type="clover_blocks"/>

    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>
    
    <!-- UAV0 -->
    <group ns="clover11">
        <arg name="ID" value="11"/>
        <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
            <arg name="x" value="1"/>
            <arg name="y" value="1"/>
            <arg name="z" value="0.3"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="mavlink_tcp_port" value="$(eval 4560 + arg('ID'))"/>
            <arg name="ID" value="$(arg ID)"/>
            <arg name="fcu_url" default="udp://:14551@localhost:14591"/>
        </include>
    </group>
    
    <!-- UAV1 -->
    <group ns="clover12">
        <arg name="ID" value="12"/>
        <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
            <arg name="x" value="1"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0.3"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="mavlink_tcp_port" value="$(eval 4560 + arg('ID'))"/>
            <arg name="ID" value="$(arg ID)"/>
            <arg name="fcu_url" default="udp://:14552@localhost:14592"/>
        </include>
    </group>

</launch>
<!-- to add more UAVs (up to 10):
Increase the id
Change the name space
Set the FCU to default="udp://:14540+id@localhost:14550+id"
Set the malink_udp_port to 14560+id) -->
