<?xml version="1.0"?>

<launch>
    <!-- launches Gazebo environment and 2x: MAVROS, PX4 SITL, and spawns vehicle -->
    <!-- vehicle model and world -->
    <arg name="est" default="lpe"/>
    <arg name="world" default="$(find clover_simulation)/resources/worlds/clover_aruco.world"/>
    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>

     <!-- Update static directory -->
    <node pkg="roswww_static" name="roswww_static" type="main.py" clear_params="true">
        <!-- <param name="default_package" value="clover"/> -->
    </node>

    <!-- rosbridge -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

    <!-- swarm clover blocks-->
    <node pkg="swarm_clover_blocks" name="swarm_clover_blocks" type="clover_blocks"/>

    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>
    
    <!-- UAV0 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="0"/>
        <arg name="x" value="0"/>
        <arg name="y" value="0"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>
    
    <!-- UAV1 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="1"/>
        <arg name="x" value="0"/>
        <arg name="y" value="1"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>

    <!-- UAV2 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="2"/>
        <arg name="x" value="0"/>
        <arg name="y" value="2"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>

    <!-- UAV3 -->
    <include file="$(find swarm_in_blocks)/launch/single_vehicle.launch">
        <arg name="ID" value="3"/>
        <arg name="x" value="0"/>
        <arg name="y" value="3"/>
        <arg name="z" value="0.3"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
    </include>
</launch>
