/* TESTE DE PALETA DE CORES */

/* Swarm Preview */
.body{
    color: #67179c; /* */
    color: #780daa; /* */
    color: #780daa; /* */
    color: #780daa; /* */
    color: #780daa; /* */
    color: #780daa; /* */
}

/*  */
.body2 {
    color: #67179c; /* */
    color: #780daa; /* */
    color: #780daa; /* */
    color: #780daa; /* */
    color: #780daa; /* */
    color: #780daa; /* */
}

/*  */
.body3 {
    color: #67179c; /* */
    color: #780daa; /* */
    color: #780daa; /* */
    color: #780daa; /* */
    color: #780daa; /* */
    color: #780daa; /* */
}