/* TESTE DE PALETA DE CORES */

/* Swarm Preview */
.body{
    color: #9597bf; /* Padrão */
    color: #ff00dd; /* */
    color: #bd8100; /* */
    color: #780daa; /* */
    color: #20c000; /* */
    color: #868686; /* */
}

/*  */
.body2 {
    color: #67179c; /* */
    color: #780daa; /* */
    color: #780daa; /* */
    color: #780daa; /* */
    color: #780daa; /* */
    color: #780daa; /* */
}

/*  */
.body3 {
    color: #67179c; /* */
    color: #780daa; /* */
    color: #780daa; /* */
    color: #780daa; /* */
    color: #780daa; /* */
    color: #780daa; /* */
}