<?xml version="1.0"?>

<launch>
    <arg name="sep" default="false"/>
    <arg name="numberClovers" default = 2 />
    
    <node pkg="swarm_station" type="frames_transform.py" name="transform_frames" />
    <node pkg="tf2_web_republisher" type="tf2_web_republisher" name="tf2_web_republisher" />

<!-- launch rosbridge -->
    <group if="$(arg sep)">
        <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
            <arg name="port" value="9090"/>
        </include>
    </group>

    <node pkg="swarm_station" type="swarm_station.py" name="swarm_station" />

    <param name="numberClovers" value="$(arg numberClovers)"/>
    
    <!-- Terminal Web node    -->
    <include file="$(find swarm_station)/src/web_terminal/launch/terminal.launch"> </include>


</launch>
