#Bottom{
    background: rgba(11, 10, 12, 0.7);
    margin-top: 5em;
    padding: 5em 6em 5em 6em;
    display: block;
}

#hor_1{
    display: flex;
    justify-content: space-between;
}

#sub_ver1{
    display: block;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 18px;
    min-width: 300px;
}

#sub_ver2{
    display: block;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 200;
    font-size: 16px;
    padding-left: 60px;
    line-height: 30px;
}

#sub_ver2 a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}


#ver_2{
    padding-left: 120px;
    display: flex;
}


#hor_2{
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 20px;
    padding-top: 50px;
}



