#Clover_tools{
    padding: 10em 6em 0em 6em;
    /*padding: 8em 6em 0em 6em;*/
}

#sub_text{
    font-size: 50px;
    text-align:left;
    font-weight: 600;
    font-size: 50px;
    color:hsl(0, 0%, 100%);
}

#tools_cards{
    position:relative;
    padding: 0px 0px 0px 80px;
    min-height: 200px;
}

#text_card{
    display: block;
    padding-left: 15px;
}

#text1_card{
    font-weight: 600;
}

#c{
    display: flex;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);;
    font-weight: 400;
    font-size: 14px;
    max-width: 460px;
    padding: 10px;
    margin: 30px 0px 30px 0px;

}

#c_excep{
    background: linear-gradient(153.47deg, rgba(255, 255, 255, 0) -341.94%, #14101D 95.11%);;
    box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
    border-radius: 20px;
    display: flex;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);;
    font-weight: 400;
    font-size: 14px;
    padding: 10px;
    max-width: 460px;
}

#c_green_gradient {
    position: absolute;
    width: 680px;
    height: 600px;
    background: linear-gradient(90deg, rgba(22, 185, 120, 0.5) 0%, rgba(18, 226, 164, 0.5) 100%);
    filter: blur(650px);
    border-radius: 200px;
    transform: rotate(90deg);
    margin-top: 5%;
    margin-left: -55%;
}

