#Eazy2Swarm{
    padding: 10em 6em 0em 6em;   
}


#img{
    max-width: 500px;
    border-radius: 30px;
    max-height: 246.43px;
}


#eazy_text{
    max-width: 560px;
    font-size: 50px;
    font-weight: 600;
    text-align:right;
    color:hsl(0, 0%, 100%);
}

#eazy_text2{
    padding-top: 40px;
    padding-bottom: 5px;
    background: radial-gradient(190% 170% at 100% -13.91%, #A967DF 0%, #A967DF 33.33%, #A967DF 20.4%, #571B97 70.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#text_seg{
    position: absolute;
    margin-top: 40px;
    padding-left: 315px;
}