:root{ /* Normal Colors*/
	--bg-color: #a89a8e; /* Background Color (Line 255)*/
	--bg-side-bar: #e0e0e0; /* Side Bar Background Color (Line 263) */
	--bg-fly-side-bar: #c4c4c4; /* Fly Side Bar Background Color (Line 273) */
	--bg-tabs: #c4c4c4; /* Tabs Background Color (Line 37) */
	--border-color: #a1a1a1; /* Border Line Background Color (Line 38) */
}

.dark-mode:root{ /* Dark-Mode Colors*/
	--bg-color: #54504c; 
	--bg-side-bar: #9393be;
	--bg-fly-side-bar: #735FB7;
	--bg-tabs: #5D5D9D;
	--border-color: #735FB7;
}

@keyframes blinker {
	50% {
	opacity: 0;
	}
}
.blink-one {
	animation: blinker-one 1s linear infinite;
}
@keyframes blinker-one {
	0% {
	opacity: 0;
	}
}

@keyframes blinker-two {
	100% {
	opacity: 0;
	}
}

@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}

@keyframes shake {
	10%, 90% {
	transform: translate3d(-1.5px, 0, 0);
	}
	20%, 80% {
	transform: translate3d(2.5px, 0, 0);
	}
	30%, 50%, 70% {
	transform: translate3d(-4.5px, 0, 0);
	}
	40%, 60% {
	transform: translate3d(4.5px, 0, 0);
	}
}

body, html {
	width: 100%;
	height: 100%;
}

body {
	padding: 1;
	margin: 0;
	display: grid;
	grid-template-areas:
		"tabs tools"
		"content content";
	grid-template-rows: min-content 1fr;
	grid-template-columns: 1fr min-content;
	font-family: 'Poppins';
	font-size: 16px;
}

/*  tools and tabs visual */

#tools, #tabs {
	font-family: 'Poppins';
	background: var(--bg-tabs);
	border-bottom: 2px var(--border-color) solid;
	white-space: nowrap;
}

#tools {
	grid-area: tools;
	white-space: nowrap;
	padding: 10px;
	display: flex;
	align-items: center;
}

#tabs {
	grid-area: tabs;
	list-style: none;
	margin: 0;
	padding: 10px;
}

/* <unsaved> and examples */

#program-name {
	width: 160px;
	border: none;
	font-size: 14px;
	padding: 6px;
	outline: none;
	background: transparent;
	text-overflow: ellipsis;
	text-align: center;
}

#program-name:active {
	background: transparent;
	text-align: center;
	animation: blinker 1s linear infinite;
}

.changed #program-name {
	color: red;
}

/* dark mode switch */

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 40px;
	width: 40px;
	left: 0px;
	bottom: 4px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border-radius: 50%;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	box-shadow: 0 0px 15px #2020203d;
	background: white url('./blockly/media/bright_mode.png');
	background-repeat: no-repeat;
	background-position: center;
}

input:checked + .slider {
	background-color:  rgb(154, 91, 212);
}

input:focus + .slider {
	box-shadow: 0 0 1px rgb(154, 91, 212);
}

input:checked + .slider:before {
	-webkit-transform: translateX(24px);
	-ms-transform: translateX(24px);
	transform: translateX(24px);
	background: white url('./blockly/media/night-mode.png');
	background-repeat: no-repeat;
	background-position: center;
}

/* disconnected */

.disconnected {
	font-size: 16px;
	color: red;
	display:inline;
	margin-right: 110px;
	text-shadow: 1px 1px 2px rgba(212, 212, 212, 0.918);
}

.disconnected-light {
	margin-right: 10px;
	animation: blinker 0.6s linear infinite;
	height: 8px;
	width: 8px;
	background-color: rgb(255, 0, 0);
	border-radius: 50%;
}

.blink-two {
	animation: blinker-two 1.4s linear infinite;
}

.connected .disconnected { 
	display: none;
}

.connected .disconnected-light {
	display: none;
}

/* non visual settings */
.backend-fail {
	margin-right: 20px;
	display: none;
}

#running {
	color: green;
	margin-right: 20px;
	animation: 1s blink linear infinite;
	display: none;
}

.running #running { display: block; }

/* tools buttons (launch, run, stop and land) */

#tools button {
	font-size: 20px;
	background-color: rgb(224, 224, 224);
	height: 60px;
	width: 60px;
	border-radius: 50%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	/* margin-bottom:2rem; */
	color:var(--dark-blue);
	transition-duration: 0.3s;
}

#tools button:hover {
	background-color: rgb(154, 91, 212);
	color: white;
}

#tools button:disabled, button[disabled]{
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}

#tools button:active {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	perspective: 1000px;
}


/* python/blockly switch */
#tabs li {
	font-size: 16px;
	display: inline-block;
	padding: 5px 10px;
	cursor: pointer;
	background-color: rgb(224, 224, 224);
	padding: 0.65rem 1.1rem;
	margin-bottom:2rem;
	color:var(--dark-blue);
	transition-duration: 0.4s;
}

#tabs li.selected {
	color: white;
	background-color: rgb(154, 91, 212);
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
	border-bottom: 3px solid #00ff00;
}


#run {
	width: 70px;
}

/* notifications */
#notifications {
	position: absolute;
	right: 10px;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	max-width: 350px;
	top: 53px;
	/* border: white solid 3px; */
	z-index: 1;
	padding: 10px;
	font-family: monospace;
	font-size: 16px;
	white-space: pre;
	max-height: 400px;
	overflow: scroll;
}

#notifications:empty { display: none; }

/* blockly visual */
.content {
	display: none !important;
	grid-area: content;
}

body[data-tab="blocks"] #blockly { display: block !important; }
body[data-tab="python"] #python { display: block !important; }

#python {
	margin: 0px;
	padding: 10px;
	z-index: 999999; /* overlap some Blockly's popups */
}

.blocklySvg {
	background: var(--bg-color);
	outline: none;
	overflow: hidden;
	position: absolute;
	display: block;
}

.blocklyToolboxDiv {
	background-color: var(--bg-side-bar);
	width: 140px;
	overflow-x: visible;
	overflow-y: auto;
	position: absolute;
	z-index: 70;
	-webkit-tap-highlight-color: transparent;
}

.blocklyFlyoutBackground {
	fill: var(--bg-fly-side-bar);
	fill-opacity: .8;
}
