@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

/*---------------------Barra topo------------------------*/
#topbar{
    background-color: #1E1E1E;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

#topbar a{
    color: #FFFFFF;
    float: right;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    font-size: 20px;
    font-weight: 400;
}
#topbar a:hover{
    color: #571B97;
    transition: 0.3s;
}

/*---------------------Barra esquerda------------------------*/

#leftbar{
    width: 40px;
    height: 40px;
    position: relative;
    top: 70px;
    margin-left: 20px;
}

#leftbar a{
    background-color: #242424;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px;
    color: #FFFFFF;
}

#leftbar a:hover{
    color: #571B97;
    transition: 0.3s;
}

