<launch>

    <arg name="type" default="gazebo" /> <!-- gazebo, jmavsim, none (only clover packages) -->
    <arg name="gui" default="true" /> <!-- Run Gazebo with GUI -->
    
    <?comment
    <arg name="mav_id_test" default="0" />
    <arg name="vehicle_test" default="clover" /> <!--PX4 vehicle configuration: clover, clover_vpe -->
    <arg name="est_test" default="ekf2" /> <!--PX4 estimator: lpe, ekf2 -->
    ?>

    <!-- Gazebo instance -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" if="$(eval type == 'gazebo')">
        <!-- Workaround for crashes in VMware -->
        <env name="SVGA_VGPU10" value="0" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="world_name" value="$(find clover_simulation)/resources/worlds/clover_aruco.world" />
        <arg name="verbose" value="true" />
    </include>

    <?comment
    <!-- PX4 instance -->
    <node name="sitl_$(arg mav_id_test)" pkg="px4" type="px4" output="screen" args="$(find px4)/ROMFS/px4fmu_common -s etc/init.d-posix/rcS -i $(arg mav_id_test)" unless="$(eval type == 'none')">
        <env name="PX4_SIM_MODEL" value="$(arg vehicle_test)" />
        <env name="PX4_ESTIMATOR" value="$(arg est_test)" />
    </node>
    ?>

    <group ns="clover0">

        <arg name="mav_id" default="0" />
        <arg name="est" default="ekf2" /> <!--PX4 estimator: lpe, ekf2 -->
        <arg name="vehicle" default="clover0" /> <!--PX4 vehicle configuration: clover, clover_vpe -->
        <arg name="main_camera" default="false" /> <!-- Simulated vision position estimation camera (optical flow, ArUco) -->
        <arg name="maintain_camera_rate" default="false" /> <!-- Slow simulation down to maintain camera rate -->
        <arg name="rangefinder" default="true" /> <!-- Simulated downward-facing rangefinder, vl53l1x-like -->
        <arg name="led" default="true" /> <!-- Simulated LED strip, ws281x-like -->
        <arg name="gps" default="false" /> <!--Simulated GPS module -->
        <arg name="use_clover_physics" default="false" /> <!-- Use inertial parameters from CAD models -->

        <!-- PX4 instance -->
        <node name="sitl_$(arg mav_id)" pkg="px4" type="px4" output="screen" args="$(find px4)/ROMFS/px4fmu_common -s etc/init.d-posix/rcS -i $(arg mav_id)" unless="$(eval type == 'none')">
            <env name="PX4_SIM_MODEL" value="$(arg vehicle)" />
            <env name="PX4_ESTIMATOR" value="$(arg est)" />
        </node>

        <!-- Clover model -->
        <include file="$(find swarm_in_blocks)/launch/spawn_drone.launch" if="$(eval type == 'gazebo')">
            <arg name="name" value="clover0" />
            <arg name="x" value="0.0" />
            <arg name="y" value="0.0" />
            <arg name="z" value="0.3" />
            <arg name="roll" value="0.0" />
            <arg name="pitch" value="0.0" />
            <arg name="yaw" value="-1.520796327" />
            <arg name="main_camera" value="$(arg main_camera)" />
            <arg name="maintain_camera_rate" value="$(arg maintain_camera_rate)" />
            <arg name="rangefinder" value="$(arg rangefinder)" />
            <arg name="led" value="$(arg led)" />
            <arg name="gps" value="$(arg gps)" />
            <arg name="use_clover_physics" value="$(arg use_clover_physics)" />
            <param name="use_sim_time" value="false" if="$(eval type == 'jmavsim')" />
        </include>
        <!-- Clover services -->
        <include file="$(find clover)/launch/clover.launch">
            <arg name="simulator" value="true" />
            <arg name="fcu_conn" value="sitl" />
            <arg name="fcu_ip" value="127.0.0.1" />
            <arg name="gcs_bridge" value="" />
            <arg name="web_video_server" default="false" if="$(eval type == 'jmavsim')" />
            <arg name="main_camera" default="false" if="$(eval type == 'jmavsim')" />
            <arg name="aruco" default="false" if="$(eval type == 'jmavsim')" />
            <arg name="optical_flow" default="false" if="$(eval type == 'jmavsim')" />
            <arg name="led" default="false" if="$(eval type == 'jmavsim')" />
        </include>

    </group>

    <group ns="clover1">

        <arg name="mav_id" default="1" />
        <arg name="est" default="ekf2" /> <!-- PX4 estimator: lpe, ekf2 -->
        <arg name="vehicle" default="clover" /> <!-- PX4 vehicle configuration: clover, clover_vpe -->
        <arg name="main_camera" default="true" /> <!-- Simulated vision position estimation camera (optical flow, ArUco) -->
        <arg name="maintain_camera_rate" default="false" /> <!-- Slow simulation down to maintain camera rate -->
        <arg name="rangefinder" default="true" /> <!-- Simulated downward-facing rangefinder, vl53l1x-like -->
        <arg name="led" default="true" /> <!-- Simulated LED strip, ws281x-like -->
        <arg name="gps" default="false" /> <!--Simulated GPS module -->
        <arg name="use_clover_physics" default="false" /> <!-- Use inertial parameters from CAD models -->

        <!-- PX4 instance -->
        <node name="sitl_$(arg mav_id)" pkg="px4" type="px4" output="screen" args="$(find px4)/ROMFS/px4fmu_common -s etc/init.d-posix/rcS -i $(arg mav_id)" unless="$(eval type == 'none')">
        <env name="PX4_SIM_MODEL" value="$(arg vehicle)"/>
        <env name="PX4_ESTIMATOR" value="$(arg est)"/>
        </node>

        <!-- Clover model -->
        <include file="$(find swarm_in_blocks)/launch/spawn_drone.launch" if="$(eval type == 'gazebo')">
            <arg name="name" value="clover1" />
            <arg name="x" value="1.0" />
            <arg name="y" value="0.0" />
            <arg name="z" value="0.3" />
            <arg name="roll" value="0.0" />
            <arg name="pitch" value="0.0" />
            <arg name="yaw" value="-1.520796327" />
            <arg name="main_camera" value="$(arg main_camera)" />
            <arg name="maintain_camera_rate" value="$(arg maintain_camera_rate)" />
            <arg name="rangefinder" value="$(arg rangefinder)" />
            <arg name="led" value="$(arg led)" />
            <arg name="gps" value="$(arg gps)" />
            <arg name="use_clover_physics" value="$(arg use_clover_physics)" />
            <param name="use_sim_time" value="false" if="$(eval type == 'jmavsim')" />
        </include>
        <!-- Clover services -->
        <include file="$(find clover)/launch/clover.launch">
            <arg name="simulator" value="true" />
            <arg name="fcu_conn" value="sitl" />
            <arg name="fcu_ip" value="127.0.0.1" />
            <arg name="gcs_bridge" value="" />
            <arg name="web_video_server" default="false" if="$(eval type == 'jmavsim')" />
            <arg name="main_camera" default="false" if="$(eval type == 'jmavsim')" />
            <arg name="aruco" default="false" if="$(eval type == 'jmavsim')" />
            <arg name="optical_flow" default="false" if="$(eval type == 'jmavsim')" />
            <arg name="led" default="false" if="$(eval type == 'jmavsim')" />
        </include>

    </group>

    <group ns="clover2">

        <arg name="mav_id" default="2" />
        <arg name="est" default="ekf2" /> <!--PX4 estimator: lpe, ekf2 -->
        <arg name="vehicle" default="clover" /> <!--PX4 vehicle configuration: clover, clover_vpe -->
        <arg name="main_camera" default="true" /> <!-- Simulated vision position estimation camera (optical flow, ArUco) -->
        <arg name="maintain_camera_rate" default="false" /> <!-- Slow simulation down to maintain camera rate -->
        <arg name="rangefinder" default="true" /> <!-- Simulated downward-facing rangefinder, vl53l1x-like -->
        <arg name="led" default="true" /> <!-- Simulated LED strip, ws281x-like -->
        <arg name="gps" default="false" /> <!--Simulated GPS module -->
        <arg name="use_clover_physics" default="false" /> <!-- Use inertial parameters from CAD models -->

        <!-- PX4 instance -->
        <node name="sitl_$(arg mav_id)" pkg="px4" type="px4" output="screen" args="$(find px4)/ROMFS/px4fmu_common -s etc/init.d-posix/rcS -i $(arg mav_id)" unless="$(eval type == 'none')">
        <env name="PX4_SIM_MODEL" value="$(arg vehicle)"/>
        <env name="PX4_ESTIMATOR" value="$(arg est)"/>
        </node>

        <!-- Clover model -->
        <!-- <include file="$(find clover_description)/launch/spawn_drone.launch" if="$(eval type == 'gazebo')"> -->
        <include file="$(find swarm_in_blocks)/launch/spawn_drone.launch" if="$(eval type == 'gazebo')">
            <arg name="name" value="clover2" />
            <arg name="x" value="0.0" />
            <arg name="y" value="1.0" />
            <arg name="z" value="0.3" />
            <arg name="roll" value="0.0" />
            <arg name="pitch" value="0.0" />
            <arg name="yaw" value="-1.520796327" />
            <arg name="main_camera" value="$(arg main_camera)" />
            <arg name="maintain_camera_rate" value="$(arg maintain_camera_rate)" />
            <arg name="rangefinder" value="$(arg rangefinder)" />
            <arg name="led" value="$(arg led)" />
            <arg name="gps" value="$(arg gps)" />
            <arg name="use_clover_physics" value="$(arg use_clover_physics)" />
            <param name="use_sim_time" value="false" if="$(eval type == 'jmavsim')" />
        </include>
        <!-- Clover services -->
        <include file="$(find clover)/launch/clover.launch">
            <arg name="simulator" value="true" />
            <arg name="fcu_conn" value="sitl" />
            <arg name="fcu_ip" value="127.0.0.1" />
            <arg name="gcs_bridge" value="" />
            <arg name="web_video_server" default="false" if="$(eval type == 'jmavsim')" />
            <arg name="main_camera" default="false" if="$(eval type == 'jmavsim')" />
            <arg name="aruco" default="false" if="$(eval type == 'jmavsim')" />
            <arg name="optical_flow" default="false" if="$(eval type == 'jmavsim')" />
            <arg name="led" default="false" if="$(eval type == 'jmavsim')" />
        </include>

    </group>
    
</launch>